.block_cat_sub{margin-left:10px;font-size:13px;}
.block_cat_sub a{color:#000;text-decoration:none}
.block_cat_sub a:hover{color:#a11;}
.block_main{display:inline;}
.block_main_img{border:1px solid #999;height:96px;width:64px;}
.all_product{color:#d11;text-decoration:none;font-size:12px;}