.info{font-size:12px;}
.info_type{width:267px;}
.info_val{width:267px;}
.extra_info{display:none;}
.fake_link{color:#8F7501;text-decoration:none;cursor:pointer;}
.fake_link:hover{color:#a11;}
.aviso{clear:both;border:1px solid #acf;margin-top:10px;padding:5px;height:16px;}
.aviso2{clear:both;border:1px solid #acf;margin-top:5px;padding:3px;}
.precios{padding:5px;}
.product_price{font-size:14px;font-weight:bold;}
.body_block img{float:left}
.info_shop{font-size:10px;}
.title_shop{font-weight:bold;}


